@import "_reset.scss";
@import "_common_utils.scss";
@import "_common_colors_sizes.scss";


.row {
	@include clearFixAfter();
	font-family: tahoma, arial, helvetica, sans-serif;

	.item {
		@include textEllipsis();

		float: left;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		width: 105px;
	}

	.medium {
		width: 120px;
	}

	.wide {
		width: 150px;
	}

	&.header {
		background-color: $color-dark;
		color: $color-light;
		font-size: 24px;
	}

	&.user-local {
		background-color: $color-feature;
		color: $color-dark;
		font-weight: bold;
	}

	&.user-follower {
		background-color: $color-mid-light;
		color: $color-dark;
	}

	.header-highlight {
		color: $color-feature;
	}

	&.user {
		border-bottom: 1px solid $color-mid-dark;
		font-family: 'Lucida Sans', tahoma, arial, helvetica, sans-serif;
		font-size: 18px;
	}
}

