@import "_reset.scss";
@import "_common_utils.scss";
@import "_common_colors_sizes.scss";


.row {
	@include clearFixAfter();
	font-family: tahoma, arial, herlvetica, sans-serif;

	.item {
		@include textEllipsis();

		float: left;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		width: 105px;
	}

	.medium {
		width: 120px;
	}

	.wide {
		width: 150px;
	}

	&.header {
		background-color: $color-dark;
		color: $color-light;
		font-size: 24px;
	}

	&.user {
		background-color: $color-mid-light;
		border-bottom: 1px solid $color-mid-dark;
		color: $color-dark;
		font-size: 16px;
	}
}

